
<h1>{{title}}</h1>

<div class="justified-response-container">
	{{#each photos}}
	<img src="{{url}}"
	 style="top: {{layout.top}}; width: {{layout.width}};
	 height: {{layout.height}}; left: {{layout.left}};" />
	{{/each}}
</div>
